In [135]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import requests
from urllib.parse import urlencode
import pymongo
from pymongo import MongoClient , GEOSPHERE
import geopandas
import shapely.geometry

In [5]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 2.1 MB/s eta 0:00:01
Collecting shapely>=1.6
  Downloading Shapely-1.8.0-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 2.6 MB/s eta 0:00:01
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.whl (15.4 MB)
     |████████████████████████████████| 15.4 MB 2.4 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.25.0 in /home/pedro/anaconda3/lib/python3.8/site-packages (from geopandas) (1.1.3)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp38-cp38-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 2.3 MB/s eta 0:00:01
Requirement already satisfied: certifi in /home/pedro/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2020.6.20)
Requirement already satisfied: attrs>=17 in /home/pedro/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: six>=1.7 in /home/pedro/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /home/pedro/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (50.3.1.post20201107)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /home/pedro/anaconda3/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: pytz>=2017.2 in /home/pedro/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/pedro/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /home/pedro/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (1.19.2)
Installing collected packages: shapely, click-plugins, cligj, munch, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1 shapely-1.8.0

In [10]:
api_key = "AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM"

In [11]:
data_type = 'json'
endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
params = {"address": "Puerta del Sol, Madrid", "key": api_key}
url_params = urlencode(params)

url = f"{endpoint}?{url_params}"
print(url)

https://maps.googleapis.com/maps/api/geocode/json?address=Puerta+del+Sol%2C+Madrid&key=AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM

In [12]:
def extract_lat_lng(address_or_postalcode, data_type = 'json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)
    if r.status_code not in range(200, 299): 
        return {}
    latlng = {}
    try:
        latlng = r.json()['results'][0]['geometry']['location']
    except:
        pass
    return latlng.get("lat"), latlng.get("lng")

In [13]:
############Parte Dublin#######

In [14]:
extract_lat_lng("The Observatory, Sir John Rogerson's Quay, Dublin Docklands, Dublin")

(53.34623269999999, -6.2453093)

In [17]:
lat, lng = 53.34623269999999, -6.2453093
base_endpoint_places = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
params = {
    "key": api_key,
    "input": "Starbucks",
    "inputtype": "textquery",
    "fields": "place_id,formatted_address,name,geometry,permanently_closed"
}
locationbias = f"point:{lat},{lng}"
use_cirular = True
if use_cirular:
    radius = 200
    locationbias = f"circle:{radius}@{lat},{lng}"

params['locationbias'] = locationbias

params_encoded = urlencode(params)
places_endpoint = f"{base_endpoint_places}?{params_encoded}"
print(places_endpoint)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM&input=Starbucks&inputtype=textquery&fields=place_id%2Cformatted_address%2Cname%2Cgeometry%2Cpermanently_closed&locationbias=circle%3A200%4053.34623269999999%2C-6.2453093

In [18]:
r = requests.get(places_endpoint)
print(r.status_code)

200

In [19]:
r.json()

{'candidates': [{'formatted_address': '4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D02 XH79, Irlanda',
   'geometry': {'location': {'lat': 53.3456201, 'lng': -6.240660699999999},
    'viewport': {'northeast': {'lat': 53.34696472989272,
      'lng': -6.239252870107277},
     'southwest': {'lat': 53.34426507010728, 'lng': -6.241952529892721}}},
   'name': 'Starbucks',
   'permanently_closed': True,
   'place_id': 'ChIJWbWzs5IOZ0gRr4L5rGE5iis'}],
 'status': 'OK'}

In [20]:
r.json()['candidates'][0]['name']

'Starbucks'

In [21]:
r.json()['candidates'][0]['formatted_address']

'4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D02 XH79, Irlanda'

In [22]:
r.json()['candidates'][0]['geometry']['location']['lat']

53.3456201

In [23]:
r.json()['candidates'][0]['geometry']['location']['lng']

-6.240660699999999

In [24]:
x = r.json()['candidates'][0]

In [25]:
x

{'formatted_address': '4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D02 XH79, Irlanda',
 'geometry': {'location': {'lat': 53.3456201, 'lng': -6.240660699999999},
  'viewport': {'northeast': {'lat': 53.34696472989272,
    'lng': -6.239252870107277},
   'southwest': {'lat': 53.34426507010728, 'lng': -6.241952529892721}}},
 'name': 'Starbucks',
 'permanently_closed': True,
 'place_id': 'ChIJWbWzs5IOZ0gRr4L5rGE5iis'}

In [26]:
df = pd.DataFrame(x)
df

,formatted_address,geometry,name,permanently_closed,place_id
location,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0...","{'lat': 53.3456201, 'lng': -6.240660699999999}",Starbucks,True,ChIJWbWzs5IOZ0gRr4L5rGE5iis
viewport,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0...","{'northeast': {'lat': 53.34696472989272, 'lng'...",Starbucks,True,ChIJWbWzs5IOZ0gRr4L5rGE5iis

In [27]:
df["geometry"].apply(pd.Series)

,lat,lng,northeast,southwest
location,53.34562,-6.240661,NaN,NaN
viewport,NaN,NaN,"{'lat': 53.34696472989272, 'lng': -6.239252870...","{'lat': 53.34426507010728, 'lng': -6.241952529..."

In [28]:
df = pd.concat([df, df["geometry"].apply(pd.Series)], axis=1)
df

,formatted_address,geometry,name,permanently_closed,place_id,lat,lng,northeast,southwest
location,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0...","{'lat': 53.3456201, 'lng': -6.240660699999999}",Starbucks,True,ChIJWbWzs5IOZ0gRr4L5rGE5iis,53.34562,-6.240661,NaN,NaN
viewport,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0...","{'northeast': {'lat': 53.34696472989272, 'lng'...",Starbucks,True,ChIJWbWzs5IOZ0gRr4L5rGE5iis,NaN,NaN,"{'lat': 53.34696472989272, 'lng': -6.239252870...","{'lat': 53.34426507010728, 'lng': -6.241952529..."

In [29]:
df_starbucks_dublin = df[['name', 'lng', 'lat', 'formatted_address']]
df_starbucks_dublin

,name,lng,lat,formatted_address
location,Starbucks,-6.240661,53.34562,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0..."
viewport,Starbucks,NaN,NaN,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0..."

In [30]:
df_starbucks_dublin.drop(['viewport'], axis=0, inplace= True)

/home/pedro/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [31]:
df_starbucks_dublin

,name,lng,lat,formatted_address
location,Starbucks,-6.240661,53.34562,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0..."

In [32]:
def type_point(lng, lat):
    return {"type":"Point", "coordinates": [lng, lat]}

In [33]:
type_point(-6.240661, 53.34562)

{'type': 'Point', 'coordinates': [-6.240661, 53.34562]}

In [35]:
df_starbucks_dublin["points"] = df_starbucks_dublin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

<ipython-input-35-3dfb58d5de89>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_starbucks_dublin["points"] = df_starbucks_dublin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

In [36]:
df_starbucks_dublin

,name,lng,lat,formatted_address,points
location,Starbucks,-6.240661,53.34562,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0...","{'type': 'Point', 'coordinates': [-6.240660699..."

In [37]:
###########veterinario dublin############

In [38]:
lat, lng = 53.34623269999999, -6.2453093
base_endpoint_places = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
params = {
    "key": api_key,
    "input": "Vet",
    "inputtype": "textquery",
    "fields": "place_id,formatted_address,name,geometry,permanently_closed"
}
locationbias = f"point:{lat},{lng}"
use_cirular = True
if use_cirular:
    radius = 200
    locationbias = f"circle:{radius}@{lat},{lng}"

params['locationbias'] = locationbias

params_encoded = urlencode(params)
places_endpoint = f"{base_endpoint_places}?{params_encoded}"
print(places_endpoint)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM&input=Vet&inputtype=textquery&fields=place_id%2Cformatted_address%2Cname%2Cgeometry%2Cpermanently_closed&locationbias=circle%3A200%4053.34623269999999%2C-6.2453093

In [39]:
r = requests.get(places_endpoint)
print(r.status_code)

200

In [40]:
r.json()

{'candidates': [{'formatted_address': "40 Charlemont St, Saint Kevin's, Dublin 2, D02 AE42, Irlanda",
   'geometry': {'location': {'lat': 53.3306771, 'lng': -6.2607392},
    'viewport': {'northeast': {'lat': 53.33206962989271,
      'lng': -6.259311770107277},
     'southwest': {'lat': 53.32936997010727, 'lng': -6.262011429892721}}},
   'name': 'Animal Welfare Veterinary Clinic',
   'place_id': 'ChIJi05ZGKEOZ0gRvEI3oXN6I2g'}],
 'status': 'OK'}

In [41]:
r.json()['candidates'][0]['name']

'Animal Welfare Veterinary Clinic'

In [42]:
r.json()['candidates'][0]['geometry']['location']['lat']

53.3306771

In [43]:
r.json()['candidates'][0]['geometry']['location']['lng']

-6.2607392

In [44]:
x = r.json()['candidates'][0]

In [45]:
x

{'formatted_address': "40 Charlemont St, Saint Kevin's, Dublin 2, D02 AE42, Irlanda",
 'geometry': {'location': {'lat': 53.3306771, 'lng': -6.2607392},
  'viewport': {'northeast': {'lat': 53.33206962989271,
    'lng': -6.259311770107277},
   'southwest': {'lat': 53.32936997010727, 'lng': -6.262011429892721}}},
 'name': 'Animal Welfare Veterinary Clinic',
 'place_id': 'ChIJi05ZGKEOZ0gRvEI3oXN6I2g'}

In [46]:
df_vet_dublin = pd.DataFrame(x)
df_vet_dublin

,formatted_address,geometry,name,place_id
location,"40 Charlemont St, Saint Kevin's, Dublin 2, D02...","{'lat': 53.3306771, 'lng': -6.2607392}",Animal Welfare Veterinary Clinic,ChIJi05ZGKEOZ0gRvEI3oXN6I2g
viewport,"40 Charlemont St, Saint Kevin's, Dublin 2, D02...","{'northeast': {'lat': 53.33206962989271, 'lng'...",Animal Welfare Veterinary Clinic,ChIJi05ZGKEOZ0gRvEI3oXN6I2g

In [47]:
df_vet_dublin["geometry"].apply(pd.Series)

,lat,lng,northeast,southwest
location,53.330677,-6.260739,NaN,NaN
viewport,NaN,NaN,"{'lat': 53.33206962989271, 'lng': -6.259311770...","{'lat': 53.32936997010727, 'lng': -6.262011429..."

In [48]:
df_vet_dublin = pd.concat([df_vet_dublin, df_vet_dublin["geometry"].apply(pd.Series)], axis=1)
df_vet_dublin

,formatted_address,geometry,name,place_id,lat,lng,northeast,southwest
location,"40 Charlemont St, Saint Kevin's, Dublin 2, D02...","{'lat': 53.3306771, 'lng': -6.2607392}",Animal Welfare Veterinary Clinic,ChIJi05ZGKEOZ0gRvEI3oXN6I2g,53.330677,-6.260739,NaN,NaN
viewport,"40 Charlemont St, Saint Kevin's, Dublin 2, D02...","{'northeast': {'lat': 53.33206962989271, 'lng'...",Animal Welfare Veterinary Clinic,ChIJi05ZGKEOZ0gRvEI3oXN6I2g,NaN,NaN,"{'lat': 53.33206962989271, 'lng': -6.259311770...","{'lat': 53.32936997010727, 'lng': -6.262011429..."

In [49]:
df_vet_dublin = df_vet_dublin[['name', 'lng', 'lat', 'formatted_address']]
df_vet_dublin

,name,lng,lat,formatted_address
location,Animal Welfare Veterinary Clinic,-6.260739,53.330677,"40 Charlemont St, Saint Kevin's, Dublin 2, D02..."
viewport,Animal Welfare Veterinary Clinic,NaN,NaN,"40 Charlemont St, Saint Kevin's, Dublin 2, D02..."

In [50]:
df_vet_dublin.drop(['viewport'], axis=0, inplace= True)

/home/pedro/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [51]:
df_vet_dublin

,name,lng,lat,formatted_address
location,Animal Welfare Veterinary Clinic,-6.260739,53.330677,"40 Charlemont St, Saint Kevin's, Dublin 2, D02..."

In [52]:
type_point(-6.260739, 53.330677)

{'type': 'Point', 'coordinates': [-6.260739, 53.330677]}

In [54]:
df_vet_dublin["points"] = df_vet_dublin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

<ipython-input-54-5de56e473707>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vet_dublin["points"] = df_vet_dublin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

In [55]:
df_vet_dublin.head()

,name,lng,lat,formatted_address,points
location,Animal Welfare Veterinary Clinic,-6.260739,53.330677,"40 Charlemont St, Saint Kevin's, Dublin 2, D02...","{'type': 'Point', 'coordinates': [-6.2607392, ..."

In [56]:
#######Parte Berlin########

In [57]:
#######Starbucks Berlin#######

In [58]:
extract_lat_lng("Am Studio 20A, Berlin")

(52.4306917, 13.5405722)

In [59]:
lat, lng = 52.4294176, 13.5431411
base_endpoint_places = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
params = {
    "key": api_key,
    "input": "Starbucks",
    "inputtype": "textquery",
    "fields": "place_id,formatted_address,name,geometry,permanently_closed"
}
locationbias = f"point:{lat},{lng}"
use_cirular = True
if use_cirular:
    radius = 200
    locationbias = f"circle:{radius}@{lat},{lng}"

params['locationbias'] = locationbias

params_encoded = urlencode(params)
places_endpoint = f"{base_endpoint_places}?{params_encoded}"
print(places_endpoint)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM&input=Starbucks&inputtype=textquery&fields=place_id%2Cformatted_address%2Cname%2Cgeometry%2Cpermanently_closed&locationbias=circle%3A200%4052.4294176%2C13.5431411

In [60]:
r = requests.get(places_endpoint)
print(r.status_code)

200

In [61]:
x = r.json()['candidates'][0]
x

{'formatted_address': 'Melli-Beese-Ring 1, 12529 Schönefeld, Alemania',
 'geometry': {'location': {'lat': 52.3638393, 'lng': 13.5084203},
  'viewport': {'northeast': {'lat': 52.36539357989273, 'lng': 13.5113786},
   'southwest': {'lat': 52.36269392010728, 'lng': 13.5074342}}},
 'name': 'Starbucks',
 'place_id': 'ChIJ5RSIAhJHqEcRmRtaqlmQYBg'}

In [62]:
df_starbucks_berlin = pd.DataFrame(x)
df_starbucks_berlin

,formatted_address,geometry,name,place_id
location,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania","{'lat': 52.3638393, 'lng': 13.5084203}",Starbucks,ChIJ5RSIAhJHqEcRmRtaqlmQYBg
viewport,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania","{'northeast': {'lat': 52.36539357989273, 'lng'...",Starbucks,ChIJ5RSIAhJHqEcRmRtaqlmQYBg

In [63]:
df_starbucks_berlin["geometry"].apply(pd.Series)

,lat,lng,northeast,southwest
location,52.363839,13.50842,NaN,NaN
viewport,NaN,NaN,"{'lat': 52.36539357989273, 'lng': 13.5113786}","{'lat': 52.36269392010728, 'lng': 13.5074342}"

In [64]:
df_starbucks_berlin = pd.concat([df_starbucks_berlin, df_starbucks_berlin["geometry"].apply(pd.Series)], axis=1)
df_starbucks_berlin

,formatted_address,geometry,name,place_id,lat,lng,northeast,southwest
location,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania","{'lat': 52.3638393, 'lng': 13.5084203}",Starbucks,ChIJ5RSIAhJHqEcRmRtaqlmQYBg,52.363839,13.50842,NaN,NaN
viewport,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania","{'northeast': {'lat': 52.36539357989273, 'lng'...",Starbucks,ChIJ5RSIAhJHqEcRmRtaqlmQYBg,NaN,NaN,"{'lat': 52.36539357989273, 'lng': 13.5113786}","{'lat': 52.36269392010728, 'lng': 13.5074342}"

In [65]:
df_starbucks_berlin = df_starbucks_berlin[['name', 'lng', 'lat', 'formatted_address']]
df_starbucks_berlin

,name,lng,lat,formatted_address
location,Starbucks,13.50842,52.363839,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania"
viewport,Starbucks,NaN,NaN,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania"

In [66]:
df_starbucks_berlin.drop(['viewport'], axis=0, inplace= True)
df_starbucks_berlin

/home/pedro/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,name,lng,lat,formatted_address
location,Starbucks,13.50842,52.363839,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania"

In [67]:
df_starbucks_berlin

,name,lng,lat,formatted_address
location,Starbucks,13.50842,52.363839,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania"

In [68]:
type_point(13.50842, 52.363839)

{'type': 'Point', 'coordinates': [13.50842, 52.363839]}

In [69]:
df_starbucks_berlin["points"] = df_starbucks_berlin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

<ipython-input-69-175f1bc9cdd8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_starbucks_berlin["points"] = df_starbucks_berlin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

In [70]:
df_starbucks_berlin

,name,lng,lat,formatted_address,points
location,Starbucks,13.50842,52.363839,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania","{'type': 'Point', 'coordinates': [13.5084203, ..."

In [71]:
#######Veterinario Berlin#######

In [72]:
lat, lng = 52.4294176, 13.5431411
base_endpoint_places = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
params = {
    "key": api_key,
    "input": "Vet",
    "inputtype": "textquery",
    "fields": "place_id,formatted_address,name,geometry,permanently_closed"
}
locationbias = f"point:{lat},{lng}"
use_cirular = True
if use_cirular:
    radius = 200
    locationbias = f"circle:{radius}@{lat},{lng}"

params['locationbias'] = locationbias

params_encoded = urlencode(params)
places_endpoint = f"{base_endpoint_places}?{params_encoded}"
print(places_endpoint)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM&input=Vet&inputtype=textquery&fields=place_id%2Cformatted_address%2Cname%2Cgeometry%2Cpermanently_closed&locationbias=circle%3A200%4052.4294176%2C13.5431411

In [73]:
r = requests.get(places_endpoint)
print(r.status_code)

200

In [74]:
x = r.json()['candidates'][0]
x

{'formatted_address': 'Schenkestraße 3, 10318 Berlin, Alemania',
 'geometry': {'location': {'lat': 52.4798969, 'lng': 13.5132945},
  'viewport': {'northeast': {'lat': 52.48119682989272,
    'lng': 13.51458552989272},
   'southwest': {'lat': 52.47849717010728, 'lng': 13.51188587010728}}},
 'name': 'Dr. Eva Weiland, veterinarian in Lichtenberg',
 'place_id': 'ChIJRVX3DdNIqEcRfujQYHCuua8'}

In [75]:
df_vet_berlin = pd.DataFrame(x)
df_vet_berlin

,formatted_address,geometry,name,place_id
location,"Schenkestraße 3, 10318 Berlin, Alemania","{'lat': 52.4798969, 'lng': 13.5132945}","Dr. Eva Weiland, veterinarian in Lichtenberg",ChIJRVX3DdNIqEcRfujQYHCuua8
viewport,"Schenkestraße 3, 10318 Berlin, Alemania","{'northeast': {'lat': 52.48119682989272, 'lng'...","Dr. Eva Weiland, veterinarian in Lichtenberg",ChIJRVX3DdNIqEcRfujQYHCuua8

In [76]:
df_vet_berlin["geometry"].apply(pd.Series)

,lat,lng,northeast,southwest
location,52.479897,13.513295,NaN,NaN
viewport,NaN,NaN,"{'lat': 52.48119682989272, 'lng': 13.514585529...","{'lat': 52.47849717010728, 'lng': 13.511885870..."

In [77]:
df_vet_berlin = pd.concat([df_vet_berlin, df_vet_berlin["geometry"].apply(pd.Series)], axis=1)
df_vet_berlin

,formatted_address,geometry,name,place_id,lat,lng,northeast,southwest
location,"Schenkestraße 3, 10318 Berlin, Alemania","{'lat': 52.4798969, 'lng': 13.5132945}","Dr. Eva Weiland, veterinarian in Lichtenberg",ChIJRVX3DdNIqEcRfujQYHCuua8,52.479897,13.513295,NaN,NaN
viewport,"Schenkestraße 3, 10318 Berlin, Alemania","{'northeast': {'lat': 52.48119682989272, 'lng'...","Dr. Eva Weiland, veterinarian in Lichtenberg",ChIJRVX3DdNIqEcRfujQYHCuua8,NaN,NaN,"{'lat': 52.48119682989272, 'lng': 13.514585529...","{'lat': 52.47849717010728, 'lng': 13.511885870..."

In [78]:
df_vet_berlin = df_vet_berlin[['name', 'lng', 'lat', 'formatted_address']]
df_vet_berlin

,name,lng,lat,formatted_address
location,"Dr. Eva Weiland, veterinarian in Lichtenberg",13.513295,52.479897,"Schenkestraße 3, 10318 Berlin, Alemania"
viewport,"Dr. Eva Weiland, veterinarian in Lichtenberg",NaN,NaN,"Schenkestraße 3, 10318 Berlin, Alemania"

In [79]:
df_vet_berlin.drop(['viewport'], axis=0, inplace= True)
df_vet_berlin

/home/pedro/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,name,lng,lat,formatted_address
location,"Dr. Eva Weiland, veterinarian in Lichtenberg",13.513295,52.479897,"Schenkestraße 3, 10318 Berlin, Alemania"

In [80]:
type_point(13.513295, 52.479897)

{'type': 'Point', 'coordinates': [13.513295, 52.479897]}

In [82]:
df_vet_berlin["points"] = df_vet_berlin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

<ipython-input-82-38eab1ea1102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vet_berlin["points"] = df_vet_berlin.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

In [83]:
df_vet_berlin

,name,lng,lat,formatted_address,points
location,"Dr. Eva Weiland, veterinarian in Lichtenberg",13.513295,52.479897,"Schenkestraße 3, 10318 Berlin, Alemania","{'type': 'Point', 'coordinates': [13.5132945, ..."

In [84]:
#######Parte Los Angeles########

In [85]:
######Starbucks Los Angeles########

In [86]:
extract_lat_lng("12333 W Olympic Blvd, Los Angeles")

(34.0320487, -118.4568894)

In [87]:
lat, lng = 34.03204876, -118.4568894
base_endpoint_places = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
params = {
    "key": api_key,
    "input": "Starbucks",
    "inputtype": "textquery",
    "fields": "place_id,formatted_address,name,geometry,permanently_closed"
}
locationbias = f"point:{lat},{lng}"
use_cirular = True
if use_cirular:
    radius = 200
    locationbias = f"circle:{radius}@{lat},{lng}"

params['locationbias'] = locationbias

params_encoded = urlencode(params)
places_endpoint = f"{base_endpoint_places}?{params_encoded}"
print(places_endpoint)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM&input=Starbucks&inputtype=textquery&fields=place_id%2Cformatted_address%2Cname%2Cgeometry%2Cpermanently_closed&locationbias=circle%3A200%4034.03204876%2C-118.4568894

In [88]:
r = requests.get(places_endpoint)
print(r.status_code)

200

In [89]:
x = r.json()['candidates'][0]
x

{'formatted_address': '11727 W Olympic Blvd, Los Angeles, CA 90064, Estados Unidos',
 'geometry': {'location': {'lat': 34.0348804, 'lng': -118.4489277},
  'viewport': {'northeast': {'lat': 34.03617907989273,
    'lng': -118.4475046201073},
   'southwest': {'lat': 34.03347942010728, 'lng': -118.4502042798927}}},
 'name': 'Starbucks',
 'place_id': 'ChIJiQ8fBA27woARLm1Ux8EdYdY'}

In [90]:
df_starbucks_la = pd.DataFrame(x)
df_starbucks_la

,formatted_address,geometry,name,place_id
location,"11727 W Olympic Blvd, Los Angeles, CA 90064, E...","{'lat': 34.0348804, 'lng': -118.4489277}",Starbucks,ChIJiQ8fBA27woARLm1Ux8EdYdY
viewport,"11727 W Olympic Blvd, Los Angeles, CA 90064, E...","{'northeast': {'lat': 34.03617907989273, 'lng'...",Starbucks,ChIJiQ8fBA27woARLm1Ux8EdYdY

In [91]:
df_starbucks_la["geometry"].apply(pd.Series)

,lat,lng,northeast,southwest
location,34.03488,-118.448928,NaN,NaN
viewport,NaN,NaN,"{'lat': 34.03617907989273, 'lng': -118.4475046...","{'lat': 34.03347942010728, 'lng': -118.4502042..."

In [92]:
df_starbucks_la = pd.concat([df_starbucks_la, df_starbucks_la["geometry"].apply(pd.Series)], axis=1)
df_starbucks_la

,formatted_address,geometry,name,place_id,lat,lng,northeast,southwest
location,"11727 W Olympic Blvd, Los Angeles, CA 90064, E...","{'lat': 34.0348804, 'lng': -118.4489277}",Starbucks,ChIJiQ8fBA27woARLm1Ux8EdYdY,34.03488,-118.448928,NaN,NaN
viewport,"11727 W Olympic Blvd, Los Angeles, CA 90064, E...","{'northeast': {'lat': 34.03617907989273, 'lng'...",Starbucks,ChIJiQ8fBA27woARLm1Ux8EdYdY,NaN,NaN,"{'lat': 34.03617907989273, 'lng': -118.4475046...","{'lat': 34.03347942010728, 'lng': -118.4502042..."

In [93]:
df_starbucks_la = df_starbucks_la[['name', 'lng', 'lat', 'formatted_address']]
df_starbucks_la

,name,lng,lat,formatted_address
location,Starbucks,-118.448928,34.03488,"11727 W Olympic Blvd, Los Angeles, CA 90064, E..."
viewport,Starbucks,NaN,NaN,"11727 W Olympic Blvd, Los Angeles, CA 90064, E..."

In [94]:
df_starbucks_la.drop(['viewport'], axis=0, inplace= True)
df_starbucks_la

/home/pedro/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,name,lng,lat,formatted_address
location,Starbucks,-118.448928,34.03488,"11727 W Olympic Blvd, Los Angeles, CA 90064, E..."

In [95]:
type_point(-118.448928, 34.03488)

{'type': 'Point', 'coordinates': [-118.448928, 34.03488]}

In [96]:
df_starbucks_la["points"] = df_starbucks_la.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

<ipython-input-96-d87a0bf10450>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_starbucks_la["points"] = df_starbucks_la.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

In [97]:
df_starbucks_la

,name,lng,lat,formatted_address,points
location,Starbucks,-118.448928,34.03488,"11727 W Olympic Blvd, Los Angeles, CA 90064, E...","{'type': 'Point', 'coordinates': [-118.4489277..."

In [98]:
######Veterinario Los Angeles########

In [99]:
lat, lng = 34.03204876, -118.4568894
base_endpoint_places = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
params = {
    "key": api_key,
    "input": "Vet",
    "inputtype": "textquery",
    "fields": "place_id,formatted_address,name,geometry,permanently_closed"
}
locationbias = f"point:{lat},{lng}"
use_cirular = True
if use_cirular:
    radius = 200
    locationbias = f"circle:{radius}@{lat},{lng}"

params['locationbias'] = locationbias

params_encoded = urlencode(params)
places_endpoint = f"{base_endpoint_places}?{params_encoded}"
print(places_endpoint)

https://maps.googleapis.com/maps/api/place/findplacefromtext/json?key=AIzaSyA33yU00nrDO9a_K38yvBL6_0Xe5x56sQM&input=Vet&inputtype=textquery&fields=place_id%2Cformatted_address%2Cname%2Cgeometry%2Cpermanently_closed&locationbias=circle%3A200%4034.03204876%2C-118.4568894

In [100]:
r = requests.get(places_endpoint)
print(r.status_code)

200

In [101]:
x = r.json()['candidates'][0]
x

{'formatted_address': '12401 W Olympic Blvd, Los Angeles, CA 90064, Estados Unidos',
 'geometry': {'location': {'lat': 34.0319091, 'lng': -118.4585114},
  'viewport': {'northeast': {'lat': 34.03321842989272,
    'lng': -118.4570346201073},
   'southwest': {'lat': 34.03051877010727, 'lng': -118.4597342798927}}},
 'name': 'Tams Todd DVM',
 'place_id': 'ChIJa_F79itIhIARRkZYi00R2aE'}

In [102]:
df_vet_la = pd.DataFrame(x)
df_vet_la

,formatted_address,geometry,name,place_id
location,"12401 W Olympic Blvd, Los Angeles, CA 90064, E...","{'lat': 34.0319091, 'lng': -118.4585114}",Tams Todd DVM,ChIJa_F79itIhIARRkZYi00R2aE
viewport,"12401 W Olympic Blvd, Los Angeles, CA 90064, E...","{'northeast': {'lat': 34.03321842989272, 'lng'...",Tams Todd DVM,ChIJa_F79itIhIARRkZYi00R2aE

In [103]:
df_vet_la["geometry"].apply(pd.Series)

,lat,lng,northeast,southwest
location,34.031909,-118.458511,NaN,NaN
viewport,NaN,NaN,"{'lat': 34.03321842989272, 'lng': -118.4570346...","{'lat': 34.03051877010727, 'lng': -118.4597342..."

In [104]:
df_vet_la = pd.concat([df_vet_la, df_vet_la["geometry"].apply(pd.Series)], axis=1)
df_vet_la

,formatted_address,geometry,name,place_id,lat,lng,northeast,southwest
location,"12401 W Olympic Blvd, Los Angeles, CA 90064, E...","{'lat': 34.0319091, 'lng': -118.4585114}",Tams Todd DVM,ChIJa_F79itIhIARRkZYi00R2aE,34.031909,-118.458511,NaN,NaN
viewport,"12401 W Olympic Blvd, Los Angeles, CA 90064, E...","{'northeast': {'lat': 34.03321842989272, 'lng'...",Tams Todd DVM,ChIJa_F79itIhIARRkZYi00R2aE,NaN,NaN,"{'lat': 34.03321842989272, 'lng': -118.4570346...","{'lat': 34.03051877010727, 'lng': -118.4597342..."

In [105]:
df_vet_la = df_vet_la[['name', 'lng', 'lat', 'formatted_address']]
df_vet_la

,name,lng,lat,formatted_address
location,Tams Todd DVM,-118.458511,34.031909,"12401 W Olympic Blvd, Los Angeles, CA 90064, E..."
viewport,Tams Todd DVM,NaN,NaN,"12401 W Olympic Blvd, Los Angeles, CA 90064, E..."

In [106]:
df_vet_la.drop(['viewport'], axis=0, inplace= True)
df_vet_la

/home/pedro/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,name,lng,lat,formatted_address
location,Tams Todd DVM,-118.458511,34.031909,"12401 W Olympic Blvd, Los Angeles, CA 90064, E..."

In [107]:
type_point(-118.458511, 34.031909)

{'type': 'Point', 'coordinates': [-118.458511, 34.031909]}

In [108]:
df_vet_la["points"] = df_vet_la.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

<ipython-input-108-0c3a236c2f71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vet_la["points"] = df_vet_la.apply(lambda x: type_point(x['lng'], x['lat']), axis = 1)

In [109]:
df_vet_la

,name,lng,lat,formatted_address,points
location,Tams Todd DVM,-118.458511,34.031909,"12401 W Olympic Blvd, Los Angeles, CA 90064, E...","{'type': 'Point', 'coordinates': [-118.4585114..."

In [110]:
#############todos los df################

In [111]:
df_starbucks_dublin

,name,lng,lat,formatted_address,points
location,Starbucks,-6.240661,53.34562,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0...","{'type': 'Point', 'coordinates': [-6.240660699..."

In [112]:
df_vet_dublin

,name,lng,lat,formatted_address,points
location,Animal Welfare Veterinary Clinic,-6.260739,53.330677,"40 Charlemont St, Saint Kevin's, Dublin 2, D02...","{'type': 'Point', 'coordinates': [-6.2607392, ..."

In [113]:
df_starbucks_berlin

,name,lng,lat,formatted_address,points
location,Starbucks,13.50842,52.363839,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania","{'type': 'Point', 'coordinates': [13.5084203, ..."

In [114]:
df_vet_berlin

,name,lng,lat,formatted_address,points
location,"Dr. Eva Weiland, veterinarian in Lichtenberg",13.513295,52.479897,"Schenkestraße 3, 10318 Berlin, Alemania","{'type': 'Point', 'coordinates': [13.5132945, ..."

In [115]:
df_starbucks_la

,name,lng,lat,formatted_address,points
location,Starbucks,-118.448928,34.03488,"11727 W Olympic Blvd, Los Angeles, CA 90064, E...","{'type': 'Point', 'coordinates': [-118.4489277..."

In [116]:
df_vet_la

,name,lng,lat,formatted_address,points
location,Tams Todd DVM,-118.458511,34.031909,"12401 W Olympic Blvd, Los Angeles, CA 90064, E...","{'type': 'Point', 'coordinates': [-118.4585114..."

In [117]:
#####concateno dfs por ciudad##############

In [140]:
Dublin = pd.concat([df_starbucks_dublin,df_vet_dublin])
Dublin

,name,lng,lat,formatted_address,points
location,Starbucks,-6.240661,53.345620,"4/5 Cardiff Ln, Dublin Docklands, Dublin 2, D0...","{'type': 'Point', 'coordinates': [-6.240660699..."
location,Animal Welfare Veterinary Clinic,-6.260739,53.330677,"40 Charlemont St, Saint Kevin's, Dublin 2, D02...","{'type': 'Point', 'coordinates': [-6.2607392, ..."

In [141]:
Berlin = pd.concat([df_starbucks_berlin,df_vet_berlin])
Berlin

,name,lng,lat,formatted_address,points
location,Starbucks,13.508420,52.363839,"Melli-Beese-Ring 1, 12529 Schönefeld, Alemania","{'type': 'Point', 'coordinates': [13.5084203, ..."
location,"Dr. Eva Weiland, veterinarian in Lichtenberg",13.513295,52.479897,"Schenkestraße 3, 10318 Berlin, Alemania","{'type': 'Point', 'coordinates': [13.5132945, ..."

In [142]:
LA = pd.concat([df_starbucks_la,df_vet_la])
LA

,name,lng,lat,formatted_address,points
location,Starbucks,-118.448928,34.034880,"11727 W Olympic Blvd, Los Angeles, CA 90064, E...","{'type': 'Point', 'coordinates': [-118.4489277..."
location,Tams Todd DVM,-118.458511,34.031909,"12401 W Olympic Blvd, Los Angeles, CA 90064, E...","{'type': 'Point', 'coordinates': [-118.4585114..."

In [143]:
########Exportar a mongo#########

In [144]:
client = MongoClient("localhost:27017")
db = client.get_database("Mapas")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Mapas')

In [145]:
Berlin = geopandas.GeoDataFrame(Berlin, geometry=geopandas.points_from_xy(Berlin.lng, Berlin.lat))
Dublin = geopandas.GeoDataFrame(Dublin, geometry=geopandas.points_from_xy(Dublin.lng, Dublin.lat))
LA = geopandas.GeoDataFrame(LA, geometry=geopandas.points_from_xy(LA.lng, LA.lat))

In [146]:
berlinCollection = client.maps["Berlin"]
dublinCollection = client.maps["Dublin"]
laCollection = client.maps["LA"]

In [147]:
Berlin.drop("points", axis = 1, inplace = True)
Dublin.drop("points", axis = 1, inplace = True)
LA.drop("points", axis = 1, inplace = True)

In [148]:
berlinCollection.create_index([("geometry", GEOSPHERE)])
dublinCollection.create_index([("geometry", GEOSPHERE)])
laCollection.create_index([("geometry", GEOSPHERE)])

'geometry_2dsphere'

In [149]:
Berlin['geometry'] = Berlin['geometry'].apply(lambda x:shapely.geometry.mapping(x))
Dublin['geometry'] = Dublin['geometry'].apply(lambda x:shapely.geometry.mapping(x))
LA['geometry'] = LA['geometry'].apply(lambda x:shapely.geometry.mapping(x))

/home/pedro/anaconda3/lib/python3.8/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")
/home/pedro/anaconda3/lib/python3.8/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")
/home/pedro/anaconda3/lib/python3.8/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

In [150]:
Berlin = Berlin.to_dict(orient='records')
Dublin = Dublin.to_dict(orient='records')
LA = LA.to_dict(orient='records')

In [151]:
berlinCollection.insert_many(Berlin)
dublinCollection.insert_many(Dublin)
laCollection.insert_many(LA)

In [152]:
##########GeoQueries#############

In [170]:
BERLIN = db.get_collection("Berlin")
DUBLIN = db.get_collection("Dublin")
LA = db.get_collection("LA")

In [203]:
BLN = {"type": "Point", "coordinates": [13.5405722, 52.4306917]}
DLN = {"type": "Point", "coordinates": [-6.2453093, 53.34623269999999]}
LAN = {"type": "Point", "coordinates": [-118.4568894, 34.0320487]}

In [204]:
SearchBLN = {"geometry": {"$near": {"$geometry": BLN, "$maxDistance": 500000}}}
SearchDLN = {"geometry": {"$near": {"$geometry": DLN, "$maxDistance": 500000}}}
SearchLAN = {"geometry": {"$near": {"$geometry": LAN, "$maxDistance": 500000}}}

In [208]:
BLNBUSQ = list(BERLIN.find(SearchBLN))
DLNBUSQ = list(BERLIN.find(SearchDLN))
LANBUSQ = list(BERLIN.find(SearchLAN))

In [209]:
BLNBUSQ

[]

In [ ]:
#########A partir de aqui no supe como seguir, asi que calculo las distancias usando el propio Google Maps#########

In [ ]:
Dublin: Del edificio al starbucks hay 5 mins caminando (400m), y a la clinica hay 30 mins caminando (2.5km)
Berlin: Del edificio al starbucks hay 14 mins en coche (12,4km), y a la clinica hay otrod 14 mins en coche (7,8km)
LA: Del edificio al starbucks hay 12 mins caminando (950m), y a la clinica hay 3 mins andando (160m)

In [ ]:
Teniendo en cuenta estos datos, lo mejor es poner las oficinas en Los Ángeles.